button{
    cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.form-input{
    padding: 0px 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    transition: 0.25s ease;
}

.form-input:focus{
    border-color: #6a5af9;

}
.form-field{
    position: relative;
}
.form-label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
}
/* placeholder-shown */
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label{
    left: 11px;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
    color: #6a5af9;
}

